button {
    width: 160px;
    height: 44px;
    gap: 8px;

    outline: none;
    
    background: var(--color-brand);
    border-radius: 12px;
    border: none;
    
    font: var(--label);
    color: var(--always-white);
    cursor: pointer;

    &:hover {
        background: var(--color-brand-hover);
    }
}

.remover {
  width: 16px;
  height: 16px;
  background: url('../../assets/icons/trash.svg') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

@media (max-width: 430px) {
    button {
        width: 100%;
    }
}