* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    img{
        display: block;
        max-width: 100%
        }
}

body {
    background: var(--background-primary);
    color: var(--content-primary);
}

.page-tittle {
    font: var(--title);
    margin: 16px 0 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 24px;
}

.texto {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

:root {

    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary:#080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: "Inter", sans-serif;

    --title: bold 24px/32px var(--font-family);
    --label: 600 16px/20px var(--font-family);
    --paragraph: medium 16px/20px var(--font-family);
    --link: medium 14px/16px var(--font-family);
}