section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--content-primary);
}

@media (max-width: 430px) {
    section {
        flex-direction: column;
        align-items: stretch;
    }
}